@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root {
  --background: #222222;
  --section: #191919;
  --text: #DCDCDC;
  --link: #27A7D8;
  --blockquote: #FF9900;
}

blockquote {
  border-left: 1px solid var(--blockquote);
}

hr {
  background: transparent url("../assets/images/hr.png") center center repeat-x;
}

/* background */
body {
  background: var(--background);
}

header {
  padding-top: 40px;
  background: transparent;
  backdrop-filter: brightness(80%) blur(8px);
  -webkit-backdrop-filter: brightness(80%) blur(8px);
}

@media screen and (max-width: 720px) {
  header {
    min-height: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  section {
    margin-top: 130px;
  }
}

@media screen and (max-width: 480px) {
  header {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  section {
    margin-top: 88px;
  }
}

#banner {
  display: none;
}

section {
  background-color: var(--section);
  border: 0;
  box-shadow: initial;
}

/* text */
* {
  font-family: 'Fira Code', monospace !important;
}

strong {
  color: var(--link) !important;
}

header > h1 {
  color: var(--blockquote) !important;
  text-shadow: 0px 0px;
}

h1,
h2,
p,
.tag-h1 > a,
.tag-h2 > a {
  color: var(--text) !important;
}

a {
  color: var(--link);
}

/* margins */
li > p {
  margin-bottom: 7px;
}

img {
  margin-bottom: 12px;
}

/* footer */
footer > p > small {
  display: none;
}

footer > p::before {
  content: "(c) 2025 arschedev";
  white-space: pre;
}
