/* background */
body {
    background: #222222;
}

section {
    background-color: #191919;
    border: 0;
    box-shadow: initial;
}

/* text */
h1,
h2,
p,
.tag-h1 > a,
.tag-h2 > a {
    color: #DCDCDC !important;
}

/* margins */
li > p {
    margin-bottom: 7px;
}

img {
    margin-bottom: 12px;
}

/* footer */
footer > p::before {
    content: "© 2023 arschedev";
    white-space: pre;
}
