/* background */
body {
    background: #222222;
}

section {
    background-color: #353535;
    border: 0;
    box-shadow: initial;
}

/* text */
h1,
h2,
p,
.tag-h1 > a,
.tag-h2 > a {
    color: #DCDCDC !important;
}

/* margins */
li > p {
    margin-bottom: 0;
}

img {
    margin-bottom: 20px;
}
