/* */
/* font */
/* */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
}

/* */
/* everything else */
/* */

body {
    margin: 0;
    background: rgb(255, 100, 168);
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

#header {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5px;
}

/* title */
#title {
    padding: 1px;
    background: #000;
    border-radius: 10px;
    color: #8AB4F8;
    text-decoration: none;
}

#title:hover {
    text-decoration: underline;
}

/* counters */
#counters {
    padding: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #000;
    border-radius: 10px;
    color: gainsboro;
}

#counters span {
    font-weight: bold;
}

#counters > .separator {
    font-style: normal;
    font-weight: bold;
}

/* game */
#container {
    /* border: 2px dashed #000; */
}

.ball {
    display: none;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

/* */
/* timer */
/* */
#timer {
    font-size: 30px;
    font-weight: bold;
}